.input__label {
    font-size: 16;
}

.input__field {

}

.input__icon {
    font-size: 24;
    vertical-align: center;
    horizontal-align: right;
    margin: -15 10 0 0;
}

.input__icon.fa-check-circle {
    color: forestgreen;
}

.input__icon.fa-exclamation-circle {
    color: darkred;
}

.input__validation {
    width: 90%;
    height: 60;
    background-color: #fff;
    border-width: 1px;
    border-color: forestgreen;
    border-radius: 5;
}
