/* Forms */

@mixin form($selectors) {
    #{$selectors} {
        font-family: 'Roboto Regular';

        .ns-ios & {
            font-family: 'SF UI Text Regular';
        }

        .-center {
            horizontal-align: center;
        }

        .nt-form__or-separator {
            margin: 20 0;
        }

        .nt-form__link {
            @include colorize($color: focus);
        }

        .nt-form__title {
            font-size: 18;
        }

        .nt-form__logo {
            margin: 20 0;
            width: 50%;
        }

        .nt-form__validation-message {
            color: $error;
            margin: 1 0 0;
            padding: 0;
            height: 19;
        }

        .nt-form__footer {
            padding: 0;
            horizontal-align: center;

            Button {
                width: 50%;
                margin: 5;
            }
        }

        // Set isEnabled="false" on the whole form
        &[isEnabled=false] * {
            opacity: .7;
        }
    }
}


@mixin form-fields($compat: false) {

    /* Form Validation styling */

    #{if($compat, '.input',
        ('TextField',
         'PickerField',
         'DatePickerField',
         'TimePickerField'))} {
        &.ng-valid {
            margin-bottom: 20;
        }

        &.ng-invalid.ng-dirty {
            margin-bottom: 0;
            border-color: $error;
        }
    }

    /* Form fields */

    #{if($compat, '.input',
        ('Label',
         'TextView',
         'TextField',
         'PickerField'))} {
        @include colorize($color: primary);
        padding: 2 0;
        margin: 0;
    }

    #{if($compat, '.input',
        ('TextField',
         'PickerField',
         'DatePickerField',
         'TimePickerField'))} {
        @include colorize(
            $color: primary,
            $placeholder-color: secondary
        );

        border-width: 0 0 1;
        background-color: transparent;
        font-size: 16;
        padding: 8 0;

        .ns-ios & {
            font-size: 15;
        }

        #{if($compat,
            ('&.input-rounded',
             '&.input-border'),
            ('&.-rounded',
             '&.-border'))} {
            border-width: 1;
            border-radius: 4;
            padding: 12 14;
        }

        #{if($compat, '&.input-rounded', '&.-rounded')} {
            border-radius: 28;
        }

        &[isEnabled=false] {
            opacity: .5;
            @include colorize(
                $color: gray,
                $decontrasted-background-color: gray background 30%
            );
        }
    }

    @if not $compat {
        DatePicker,
        TimePicker,
        DateTimePickerFields {
            @include colorize($background-color: background);
        }
    }
}


@mixin input-component($selectors, $compat: false) {
    #{$selectors} {
        margin: 8 0;

        #{if($compat, '.label', '> Label')} {
            font-size: 16;
            color: $grey-background;
        }

        #{if($compat, '.input', '> TextField')} {
            margin: 0 0 8 0;
        }

        #{if($compat, '&.input-sides', '&.-sides')} {
            #{if($compat, '.label', '> Label')} {
                margin: 8 0;
            }
        }

        @if not $compat {
            & > NTIcon,
            & > .nt-icon {
                font-size: 24;
                vertical-align: center;
                horizontal-align: right;
                margin: -15 10 0 0;
            }
        }
    }
}


@mixin form-fields-skin($compat: false) {

    /* Form fields */

    #{if($compat, '.input',
        ('TextView',
         'TextField',
         'PickerField',
         'DatePickerField',
         'TimePickerField',
         'DateTimePickerFields'))} {
        background-color: transparent;

        @include colorize($decontrasted-border-color: gray background 10%);

        &:focus {
            @include colorize($contrasted-border-color: focus background 20%);
        }

        &[isEnabled=false] {
            @include colorize(
                $color: gray,
                $decontrasted-background-color: gray background 30%
            );
        }
    }

    /* DateTime Picker */

    .date-time-picker-buttons {
        @include colorize($color: focus);
    }

    .date-time-picker-spinners {
        @include colorize($color: mix($btn-color-inverse, $focus-dark, 30%));
    }
}


@mixin input-component-skin($selectors, $compat: false) {
    #{$selectors} {
        #{if($compat, '.label', '& > Label')} {
            @include colorize($contrasted-color: focus background 30%);
        }
    }
}
