.action-bar {
  background-color: $ab-background;
  color: $ab-color;

  .action-bar-title {
    font-weight: bold;
    font-size: 17;
    vertical-align: center;
  }

  .action-item {
    font-weight: normal;
  }
}
