.btn{
  color: $btn-color;
  background-color: transparent;
  min-height: 36;
  min-width: 64;
  font-size: 15;
  &:highlighted{
    color: $white;
    opacity: 0.5;
    background-color:$btn-color-secondary;
  }
  @include button-base($btn-color, $btn-padding-y, $btn-padding-x, $btn-margin-y, $btn-margin-x, $btn-font-size, $btn-radius,0);

}

.btn-primary {
  color: $white;
  background-color: $btn-color;
  border-color: $btn-color;
  &:highlighted{
    border-color:$btn-color-secondary;
  }
}

.btn-outline {
  color: $btn-color;
  background-color: transparent;
  border-color: $btn-color;

}

.btn[isEnabled=false]{
  color:$btn-color-disabled;
  background-color: $grey;
  border-color: $grey;
}

.btn-rounded-sm{
  border-radius: 5;
}
