.form {
  padding:0 15 0 15;
  .input {
    padding: 16 8 16 8;
    background-color: transparent;

    &.input-border {
      border-width:1;
      border-color:$grey;
      border-radius: 2;
      padding:16;
    }

    &.input-rounded {
      border-width:1;
      border-color:$grey;
      border-radius: 28;
      padding:16;
    }

    &[isEnabled="false"] {
      background-color: lighten($grey, 10%);
    }
  }

  .input-field {
    padding: 16 8 16 8;

    .label {
      font-size:12;
      color:$grey-background;//$grey;
    }

    .input {
      padding: 0;
      margin: 0 0 8 0;
    }

    .hr-light,
    .hr-dark {
      &.active {
        background-color: $accent;
      }
    }

    &.input-sides {
      .label {
        font-size:18;
        margin: 0 0 8 0;
      }
    }
  }
}