/* Padding */
.p-2 {
  padding:2;
}
.p-5 {
  padding:5;
}
.p-10 {
  padding:10;
}
.p-15 {
  padding:15;
}
.p-20 {
  padding:20;
}
.p-25 {
  padding:25;
}
.p-30 {
  padding:30;
}

/* Margin */
.m-2 {
  margin:2;
}
.m-5 {
  margin:5;
}
.m-10 {
  margin:10;
}
.m-15 {
  margin:15;
}
.m-20 {
  margin:20;
}
.m-25 {
  margin:25;
}
.m-30 {
  margin:30;
}

/* Width/Height */
.w-full {
  width:100%;
}
.w-100 {
  width:100;
}
.h-full {
  height:100%;
}
.h-100 {
  height:100;
}

/* Alignment */
.left {
  text-align: left;
}
.right {
  text-align: right;
}
