.sidedrawer-left, .sidedrawer-center {
  background-color: $side-drawer-background;
}

.sidedrawer-header {
  background-color: $side-drawer-header-background;
  height: 148;
  width: 100%;
}

.sidedrawer-left .sidedrawer-header {
  padding: 16 16 0 16;;
}

.sidedrawer-center .sidedrawer-header {
  padding: 20 15 0 15;;
}

.sidedrawer-header-image {
  background-color: $image-background;
}

.sidedrawer-left .sidedrawer-header-image {
  height: 64;
  width: 64;
  border-radius: 32;
  horizontal-align: left;
  margin-bottom: 36;
}

.sidedrawer-center .sidedrawer-header-image {
  height: 74;
  width: 74;
  border-radius: 37;
  horizontal-align: center;
  margin-bottom: 24;
}

.sidedrawer-header-brand {
  color: $side-drawer-header-brand;
}

.sidedrawer-left .sidedrawer-header-brand {
  horizontal-align: left;
  font-size: 14;
}

.sidedrawer-center .sidedrawer-header-brand {
  horizontal-align: center;
  font-size: 15;
}

.sidedrawer-list-item {
  height: 48;
  horizontal-align: left;
  width: 100%;
  orientation: horizontal;

  .sidedrawer-list-item-icon {
    width: 24;
    text-align: center;
    font-size: 20;
    height: 48;
    vertical-align: center;
  }

  &.active {
    color: $item-active-color;
    background-color: $item-active-background;

    .sidedrawer-list-item-icon {
      color: $item-active-icon-color;
    }
  }
}

.sidedrawer-left .sidedrawer-list-item-icon {
  margin: 0 16 0 16;
}

.sidedrawer-center .sidedrawer-list-item-icon {
  margin: 0 0 0 15;
}

.sidedrawer-list-item-text {
  horizontal-align: left;
  text-align: left;
  font-size: 15;
  background-color: transparent;
  border-width: 0.1;
  width: 80%;
  vertical-align: center;
}

.sidedrawer-left .sidedrawer-list-item-text {
  padding-left: 16;
}

.sidedrawer-center .sidedrawer-list-item-text {
  padding-left: 15;
}
