.tab-view {
  /*color: $secondary;*/

  // not supported but we want this
  selected-color:$sky;
  tabs-background-color:$background;

  .tab-view-item {
    // not supported but we want this
    background-color: $background;
    tabs-background-color: $background;
  }
}
