// Colors
$black: #000 !default;
$white: #fff !default;
$base: $white !default;
$grey: #e0e0e0 !default;
$grey-background: #bababa !default;
$charcoal: #303030 !default;

// accent varieties
$aqua: #00caab !default;
$blue: #3d5afe !default;
$brown: #795548 !default;
$forest: #006968 !default;
$grey-dark: #5c687c !default;
$purple: #8130ff !default;
$lemon: #ffea00 !default;
$lime: #aee406 !default;
$orange: #f57c00 !default;
$ruby: #ff1744 !default;
$sky: #30bcff !default;

$primary: lighten($black, 13%) !default;//rgba(0,0,0,.87);
$secondary: lighten($black, 46%) !default;
$disabled: lighten($black, 62%) !default;
$accent: $sky !default;
$error: #d50000 !default;

// ActionBar
$ab-background: #F8F8F8 !default;
$ab-color: $primary !default;

// Skin
$background: $base !default;
$text-color: $primary !default;

// Buttons
$btn-color: $accent !default;
$btn-color-inverse: $white !default;
$btn-color-secondary: #01a0ec !default;
$btn-color-outline-highlighted: #c0ebff !default;
$btn-color-disabled: #a4a4a4 !default;
$btn-font-size: 18 !default;
$btn-radius: 0 !default;
$btn-padding-x: 10 !default;
$btn-padding-y: 10 !default;
$btn-margin-x:	16 !default;
$btn-margin-y:	8 !default;

// Headings
$headings-margin-bottom: 4 !default;
$headings-font-weight: normal !default;
$headings-color: inherit !default;

// Options
//
// Quickly modify global styling by enabling or disabling optional features.
$enable-rounded:            false !default;
$enable-shadows:            false !default;
$enable-gradients:          false !default;
$enable-transitions:        false !default;

$item-color-android : #a0a0a0;
$item-color-ios: #848484;
$item-active-background: #2b2b2b;
$item-active-color: $accent;
$item-active-icon-color: #fff;
$image-background: #e0e0e0;
$side-drawer-header-background: $accent;
$side-drawer-header-brand: #fff;
$side-drawer-background: $charcoal;
