// Colors
$black: #000;
$white: #fff;
$base: $white;
$grey: #e0e0e0;
$grey-background: #bababa;
$charcoal:#303030;
$primary: lighten($black, 13%);//rgba(0,0,0,.87);
$secondary: lighten($black, 46%);
$disabled: lighten($black, 62%);
$accent: #30bcff;

// Skin
$background: $base;
$text-color: $primary;

// Buttons
$btn-color: $accent;
$btn-color-secondary: #01a0ec;
$btn-color-disabled: #a4a4a4;
$btn-font-size: 18;
$btn-radius: 0;
$btn-padding-x: 10;
$btn-padding-y: 10;
$btn-margin-x:	16;
$btn-margin-y:	8;


// Options
//
// Quickly modify global styling by enabling or disabling optional features.
$enable-rounded:            false !default;
$enable-shadows:            false !default;
$enable-gradients:          false !default;
$enable-transitions:        false !default;