{
    "parser": "babel-eslint",
    "env": {
        "node": true,
        "es6": true
    },
    "globals": {
        "global": true
    },
    "extends": "eslint:recommended",
     rules : {
        "template-curly-spacing" : "off",
        indent : "off"
      }
    "parserOptions": {
        "ecmaVersion": 6,
        "sourceType": "module",
        "ecmaFeatures": {
            "impliedStrict": true
        }
    }
}
