// Core variables
@import '../light/variables';

/**
 * Purple variable overrides
 **/

// ActionBar
$ab-background: $purple;
$ab-color: $white;

// Accent
$accent: $sky;
$item-active-color: $white;
$item-active-icon-color: $item-active-color;
$item-active-background: $accent;

// Buttons
$btn-color-inverse: $white;
$btn-color: $accent;
$btn-color-secondary: darken($btn-color, 10%);
$btn-color-outline-highlighted: lighten($btn-color, 10%);