ThemeMenu ListView {
    background: transparent;
}

ThemeMenu Label {
    color: blue;
    text-transform: capitalize;
    background: transparent;
}

ThemeMenu ThemeIcon {
    color: blue;
    font-size: 20;
    width: 56;
    height: 100%;
    text-align: center;
}
