// Core variables
@import '../../variables';

/**
 * Dark variable overrides
 **/

// Colors
$background: #303030;
$primary: #fff;
$secondary: darken($primary, 30%);
$disabled: darken($primary, 50%);
$accent: $sky;

// ActionBar
$ab-background: $background;
$ab-color: $primary;

// Headings
$headings-color: $primary;

// SideDrawer
$item-color-android : #a0a0a0;
$item-active-background: #2b2b2b;
$item-active-color: $accent;
$item-active-icon-color: #fff;
$item-color-ios: #848484;
$image-background: #e0e0e0;
$side-drawer-header-background: $accent;
$side-drawer-header-brand: #fff;
$side-drawer-background: #303030;
