$enhancers: 'alternate', 'scale-alternate', 'contrasted', 'scale-contrasted';
$root-classes: '.ns-root', '.ns-android', '.ns-ios', '.ns-phone', '.ns-tablet', '.ns-portrait', '.ns-landscape';

@mixin enhance($name, $arguments, $colors) {
    $args: ();

    $color: map-get($colors, $arguments);

    @each $arg in $arguments {
        $color: map-get($colors, $arg);

        $args: append($args, if($color != null, $color, $arg));
    }

    @each $enhancer in $enhancers {
        @if (str-index($name, '#{$enhancer}-') == 1) {
            $name: str-slice($name, str-length($enhancer) + 2);
            $color: call(get-function($enhancer), $args...);
        }
    }

    #{$name}: $color;
}

@mixin colorize($args...) {
    @each $name, $arguments in keywords($args) {
        @include enhance($name, $arguments, $light-colors);

        $is-at-root: false;

        @each $class in $root-classes {
            @if(str-index('#{&}', $class) == 1) {
                $is-at-root: true;
            }
        }

        @at-root #{if($is-at-root,
            selector-append('.ns-dark', &),
            selector-nest('.ns-dark', &))} {
            @include enhance($name, $arguments, $dark-colors);
        }
    }
}
