// Button sizes

@mixin button-base($color, $padding-y, $padding-x,$margin-y, $margin-x, $font-size, $border-radius, $border-width){
  @include button-size($padding-y, $padding-x, $font-size, $border-radius);
  @include button-margin($margin-y, $margin-x);
}

@mixin button-size($padding-y, $padding-x, $font-size, $border-radius) {
  padding: $padding-y $padding-x $padding-y $padding-x;
  font-size: $font-size;
  @include border-radius($border-radius);
}

@mixin button-margin($margin-y, $margin-x) {
  margin: $margin-y $margin-x $margin-y $margin-x;
}
