// Button sizes
@mixin button-size($padding-y, $padding-x, $font-size, $border-radius) {
  padding: $padding-y $padding-x $padding-y $padding-x;
  font-size: $font-size;
  @include border-radius($border-radius);
}