.action-bar {
  
  .action-title {
    font-weight: 500;
    font-size:20;
  }

  .action-item {
    background-color: rgba(255, 0, 0, 0.0);
    border-color:rgba(255, 0, 0, 0.0);
    border-width: 1;
  }
}