.sidedrawer-list-item-icon{
  margin:0 16 0 16;
  padding-top:14;
}
.sidedrawer-list-item-icon, .sidedrawer-list-item{
  color:$item-color-android;
}
.sidedrawer-list-item{
  font-family: 'Roboto Medium';
  font-size: 14;
}