.switch{
	margin:8 15;
	&[checked=true]{
		background-color: $accent;
	}
	&[checked=true][isEnabled=false]{
		background-color: $grey;
		color: $grey;
	}
	&[isEnabled=false]{
		background-color: $grey;
		color: $grey;
	}
}