.btn{
  color: $btn-color;
  background-color: transparent;
  min-height: 36;
  min-width: 64;
  &.btn-active:highlighted{
    color: $white;
    background-color:$btn-color-outline-highlighted;
  }
  @include button-base($btn-color, $btn-padding-y, $btn-padding-x, $btn-margin-y, $btn-margin-x, $btn-font-size, $btn-radius,0);

}

.btn-primary {
  color: $btn-color-inverse;
  background-color: $btn-color;
  border-color: $btn-color;
  &.btn-active:highlighted{
    border-color:$btn-color-secondary;
    background-color:$btn-color-secondary;
  }
}

.btn-outline {
  color: $btn-color;
  background-color: transparent;
  border-color: $btn-color;
  &.btn-active:highlighted{
      background-color:$btn-color-outline-highlighted;
  }
}

.btn[isEnabled=false]{
  color:$btn-color-disabled;
  background-color: $grey;
  border-color: $grey;
}

.btn-rounded-lg{
  border-radius: 20;
}
