.switch{
  &[checked=true]{
    background-color: $accent;
  }
  &[checked=true][isEnabled=false]{
    background-color: $grey;
    color: $white;
  }
  &[isEnabled=false]{
    background-color: $grey;
    color: $grey;
  }
}