// Constants

$constants: (
    black: $black,
    white: $white,
    grey: $grey,
    grey-background: $grey-background,
    charcoal: $charcoal,
    transparent: transparent,

    // accent varieties
    aqua: $aqua,
    blue: $blue,
    brown: $brown,
    forest: $forest,
    grey-dark: $grey-dark,
    purple: $purple,
    lemon: $lemon,
    lime: $lime,
    orange: $orange,
    ruby: $ruby,
    sky: $sky,

    error: $error,

    // Buttons
    btn-color-secondary: $btn-color-secondary,
    background-alt-10: $background-alt-10,
    btn-color-disabled: $btn-color-disabled,
    btn-font-size: $btn-font-size,
    btn-min-width: $btn-min-width,
    btn-height: $btn-height,
    btn-radius: $btn-radius,
    btn-padding-x: $btn-padding-x,
    btn-padding-y: $btn-padding-y,
    btn-margin-x: $btn-margin-x,
    btn-margin-y: $btn-margin-y,

    // Headings
    headings-margin-bottom: $headings-margin-bottom,
    headings-font-weight: $headings-font-weight,

    border-radius: $border-radius
);

// Core light colors
$light-colors: (
    primary: $primary,
    background: $background,
    focus: $focus
);

@if (global_variable_exists("theme-type")) {
    $light-colors: map-merge($light-colors, (
        focus: map-get($material-light-complimentary, component-bg),
        disabled: mix(light(focus), light(background), 40%),
    ));
}

$light-colors: map-merge($light-colors, (
    background-alt-5: darken(light(background), 5%),
    background-alt-10: darken(light(background), 10%),
    background-alt-20: darken(light(background), 20%),
    secondary: lighten(light(primary), 30%),
    disabled: mix(light(focus), light(background), 40%),

    ab-color: $ab-color,
    ab-background: $ab-background,

    text-color: light(primary),
    headings-color: light(primary),

    tab-text-color: mix(const(gray), light(focus), 70%),

    focus-dark: darken(light(focus), 20%),
    focus-light: lighten(light(focus), 20%),
    focus-transparent: mix(transparent, light(focus), 20%),
    primary-focus: mix(transparent, light(focus), 60%),
    background-focus: mix(transparent, light(focus), 90%),
    background-dark-focus: mix(transparent, light(focus), 85%),

    item-active-color: mix(light(primary), light(background), 40%),
    item-active-background: light(focus),

    btn-color: light(primary)
));

$light-colors: map-merge($light-colors, (
    ab-background-dark: darken(light(ab-background), 5%),
    item-active-icon-color: light(item-active-color),
    btn-color-inverse: alternate(light(focus)),
    btn-color-secondary: darken(light(btn-color), 10%)
));

// Core dark colors
$dark-colors: (
    primary: $white,
    background: $charcoal,
    focus: $focus
);

@if (global_variable_exists("bg-color")) {
    $dark-colors: map-merge($dark-colors, (
        background: mix($bg-color, $charcoal, 10%)
    ));

    $dark-colors: map-merge($dark-colors, (
        primary: alternate(dark(background), 70%)
    ));
}

@if (global_variable_exists("body-bg")) {
    $dark-colors: map-merge($dark-colors, (
        background: mix($body-bg, $charcoal, if(lightness($body-bg) > .5, 10%, 40%))
    ));


    $dark-colors: map-merge($dark-colors, (
        primary: alternate(dark(background), 70%)
    ));
}

@if (global_variable_exists("theme-type")) {
    $dark-colors: map-merge($dark-colors, (
        focus: map-get($material-dark-complimentary, component-bg),
        disabled: mix(dark(focus), dark(background), 40%),
    ));
}

$dark-colors: map-merge($dark-colors, (
    background-alt-5: lighten(dark(background), 5%),
    background-alt-10: lighten(dark(background), 10%),
    background-alt-20: lighten(dark(background), 20%),
    secondary: darken(dark(primary), 30%),
    disabled: mix(dark(focus), dark(background), 40%),

    ab-color: mix($ab-color, dark(primary), 20%),
    ab-background: mix($ab-background, dark(background), 50%),

    text-color: dark(primary),
    headings-color: dark(primary),

    tab-text-color: mix(const(gray), dark(focus), 70%),

    focus-dark: lighten(dark(focus), 20%),
    focus-light: lighten(dark(focus), 40%),
    focus-transparent: mix(transparent, dark(focus), 20%),
    primary-focus: mix(transparent, dark(focus), 60%),
    background-focus: mix(transparent, dark(focus), 90%),
    background-dark-focus: mix(transparent, dark(focus), 85%),

    item-active-color: mix(dark(primary), dark(background), 40%),
    item-active-background: dark(focus),

    btn-color: dark(primary)
));

$dark-colors: map-merge($dark-colors, (
    ab-background-dark: darken(dark(ab-background), 5%),
    item-active-icon-color: dark(item-active-color),
    btn-color-inverse: alternate(dark(focus)),
    btn-color-secondary: darken(dark(btn-color), 10%)
));

