.text-muted {
    @include colorize($color: disabled);
}


//* Workarounds and tweaks *//


// FormattedString Spans inherit the background of their parent
Label,
Button,
TextField,
TextView {
    > *,
    > * > * {
        background-color: transparent;
    }
}

ListView,
RadListView {
    min-height: 100;
}

Image {
    min-height: 20;
}

.nt-icon {
    font-size: const(btn-font-size);
}


@if $compat {
    #login-background {
      margin-top: -20;
      background-size: cover;
      background-position: center;
    }

    .login-wrap {
      padding: 0 40;
    }

    .logo-wrap {
      margin: 60 0 10 0 ;
      padding: 20 0;

      .login-logo {
        text-align: center;
        font-size: 30;
        font-weight: bold;
        margin-bottom: 10;
        opacity: .9;
      }

      .login-logo-sub {
        opacity: .8;
        text-align: center;
      }
    }

    .login-wrapper {
      padding: 20;
      background-color: #fff;
      border-radius: 3;

      TextField {
        padding: 10 10;
        margin: 10 0 0 0;
      }
    }

    .go-back {
      font-size: 14;
      text-align: center;
      margin-top: 10;
    }

}
