// Core variables
@import '../../variables';

/**
 * Light variable overrides
 **/

// Colors
$background: #fff;
$primary: lighten(#000, 13%);
$secondary: lighten(#000, 46%);
$disabled: lighten(#000, 62%);
$accent: $sky;

// SideDrawer
$item-color-android : #737373;
$item-active-background: $accent;
$item-active-color: #fff;
$item-active-icon-color: #fff;
$item-color-ios: #949494;

@import "../mixers";
