// Core

@mixin action-bar($selectors, $item-selectors) {
    #{$selectors} {
        @include colorize(
            $color: ab-color,
            $background-color: ab-background
        );

        font-weight: bold;
        font-size: const(btn-font-size);
        padding-top: 0;

        .ns-android & {
            font-weight: 500;
        }

        @if $compat {
            .action-bar-title {
                vertical-align: center;
            }
        }

        #{$item-selectors} {
            android-elevation: 0;
            font-size: const(font-size);
            padding: 12 3;
            margin: 0;
            min-width: const(btn-min-width);
            width: auto;
            border-width: 0;
            text-transform: none;
            font-weight: normal;

            .ns-ios &,
            .ns-ios &:active {
                @include colorize($background-color: transparent);
            }

            &:active {
                opacity: .7;
                @include colorize($color: ab-color);
            }
        }

        & > Label {
            font-weight: bold;
            font-size: const(btn-font-size);
        }

        .ns-statusbar-transparent Page > & {
            padding-top: 24;
        }

        .ns-modal.ns-statusbar-transparent Page > & {
            padding-top: 0;
        }

        @if not $compat {
            .ns-android & Button,
            .ns-android & .nt-button {
                padding: 12 6;

                android-elevation: 0;
                android-dynamic-elevation-offset: 0;
            }
        } @else {
            .ns-android & .btn {
                padding: 12 6;

                android-elevation: 0;
                android-dynamic-elevation-offset: 0;
            }
        }
    }
}

// Skin

@mixin action-bar-skin($selectors, $item-selectors) {
    #{$selectors} {
        @include colorize(
            $color: ab-color,
            $background-color: ab-background
        );

        #{$item-selectors} {
            @include colorize(
                $color: ab-color
            );

            #{if($compat, '&-active:active', '&:active, &.-active')} {
                @include colorize(
                    $color: ab-color
                );
            }
        }

        @if not $compat {
            .ns-android & Button,
            .ns-android & .nt-button {
                @include colorize(
                    $background-color: ab-background
                );
            }
        } @else {
            .ns-android & .btn {
                @include colorize(
                    $background-color: ab-background
                );
            }
        }
    }
}
