// Core

@mixin button($selectors) {
    #{$selectors} {
        text-transform: none;
        border-color: transparent;

        @include button-base(const(btn-padding-y), const(btn-padding-x), const(btn-margin-y), const(btn-margin-x), const(btn-font-size), const(btn-radius), const(btn-min-width), const(btn-height));

        .ns-ios & {
            height: const(btn-height) - 12;
            border-width: 0;
        }

        .ns-android & {
            margin: const(btn-margin-y) - 4 const(btn-margin-x) - 4;
        }

        @if $enable-rounded {
            height: const(btn-height) - 12;
            border-width: const(border-width);
            border-color: transparent;

            .ns-android & {
                margin: const(btn-margin-y) const(btn-margin-x);
            }
        }

        #{if($compat, '&-outline', '&.-outline')} {
            height: const(btn-height) - 12;
            border-width: const(border-width);

            .ns-android & {
                margin: const(btn-margin-y) const(btn-margin-x);
            }
        }

        #{if($compat, '&-rounded-sm', '&.-rounded-sm')},
        #{if($compat, '&-rounded-lg', '&.-rounded-lg')} {
            height: const(btn-height) - 12;
            border-radius: const(border-radius-sm);

            .ns-android & {
                margin: const(btn-margin-y) const(btn-margin-x);
            }
        }

        #{if($compat, '&-rounded-lg', '&.-rounded-lg')} {
            border-radius: const(border-radius-lg);
        }

        &[isEnabled=false] {
            opacity: const(disabled-opacity);
        }

        #{if($compat, '&-simple', '&.-simple')} {
            android-elevation: 0;
            android-dynamic-elevation-offset: 0;
        }

        .ns-root #{if($compat, '&-aqua.btn', '&.-aqua')} {
            @include colorize(
                $background-color: aqua,
                $border-color: aqua,
                $alternate-color: aqua
            );
        }

        .ns-root #{if($compat, '&-blue.btn', '&.-blue')} {
            @include colorize(
                $background-color: blue,
                $border-color: blue,
                $alternate-color: blue
            );
        }

        .ns-root #{if($compat, '&-brown', '&.-brown')} {
            @include colorize(
                $background-color: brown,
                $border-color: brown,
                $alternate-color: brown
            );
        }

        .ns-root #{if($compat, '&-forest', '&.-forest')} {
            @include colorize(
                $alternate-color: forest,
                $background-color: forest,
                $border-color: forest
            );
        }

        .ns-root #{if($compat, '&-grey', '&.-grey')} {
            @include colorize(
                $background-color: grey-dark,
                $border-color: grey-dark,
                $alternate-color: grey-dark
            );
        }

        .ns-root #{if($compat, '&-lemon', '&.-lemon')} {
            @include colorize(
                $background-color: lemon,
                $border-color: lemon,
                $alternate-color: lemon
            );
        }

        .ns-root #{if($compat, '&-lime', '&.-lime')} {
            @include colorize(
                $background-color: lime,
                $border-color: lime,
                $alternate-color: lime
            );
        }

        .ns-root #{if($compat, '&-orange', '&.-orange')} {
            @include colorize(
                $background-color: orange,
                $border-color: orange,
                $alternate-color: orange
            );
        }

        .ns-root #{if($compat, '&-purple', '&.-purple')} {
            @include colorize(
                $background-color: purple,
                $border-color: purple,
                $alternate-color: purple
            );
        }

        .ns-root #{if($compat, '&-ruby', '&.-ruby')} {
            @include colorize(
                $background-color: ruby,
                $border-color: ruby,
                $alternate-color: ruby
            );
        }

        .ns-root #{if($compat, '&-sky', '&.-sky')} {
            @include colorize(
                $background-color: sky,
                $border-color: sky,
                $alternate-color: sky
            );
        }
    }
}

// Skin

@mixin button-animations($animation: "", $color: background, $percent: 5%, $root: false) {
    @at-root {
        @keyframes #{$animation}-hightlight-light {
            0%   { background-color: light($color); }
            100% { background-color: darken(light($color), $percent); }
        }

        @keyframes #{$animation}-hightlight-dark {
            0%   { background-color: dark($color); }
            100% { background-color: darken(dark($color), $percent); }
        }
    }

    #{if($root, '.ns-root &', '&')} {
        animation: #{$animation}-hightlight-light .3s ease-out forwards;
        background-color: darken(light($color), $percent);
    }

    #{if($root, '.ns-root.ns-dark &', '.ns-dark &')} {
        animation: #{$animation}-hightlight-dark .3s ease-out forwards;
        background-color: darken(dark($color), $percent);
    }
}

@mixin button-skin($selectors) {
    #{$selectors} {
        @if theme-is("kendo") {
            @include colorize(
                $background-color: btn-color,
                $contrasted-color: btn-color background 40%
            );

            @if $theme-variant == "kendo-material" {
                text-transform: uppercase;
            }

            #{if($compat, '&-active, &:active', '&:active, &.-active')} {
                @include colorize(
                    $contrasted-color: btn-color background 40%
                );

                @include button-animations(btn-color-active, btn-color, 10%);

                ActionBar & {
                    @include button-animations(actionbar, ab-background, 10%, true);
                }
            }

            #{if($compat, '&-outline', '&.-outline')}  {
                @include colorize(
                    $background-color: background,
                    $contrasted-border-color: btn-color background 20%
                );

                #{if($compat, '&.btn-active, &.btn:active', '&:active, &.-active')} {
                    @include button-animations(btn-color-ourline-active, background, 10%);
                }
            }
        } @else {
            @include colorize(
                $background-color: background,
                $contrasted-color: accent background 40%
            );

            #{if($compat, '&-active, &:active', '&:active, &.-active')} {
                @include colorize(
                    $contrasted-color: accent background 40%
                );
            }

            #{if($compat, '&-outline', '&.-outline')}  {
                @include colorize(
                    $background-color: background,
                    $contrasted-border-color: accent background 20%
                );

                #{if($compat, '&.btn-active, &.btn:active', '&:active, &.-active')} {
                    @include button-animations();
                }
            }
        }

        #{if($compat, '&-primary', '&.-primary')} {
            @include colorize(
                $alternate-color: accent,
                $background-color: accent,
                $border-color: accent
            );

            #{if($compat, '&.btn-active, &.btn:active', '&:active, &.-active')} {
                @include button-animations(accent, accent, 10%);
            }
        }
    }
}
