// Core

@mixin label($selectors) {
    #{$selectors} {
        // Looks like .h1 classes can't override the element selector
        // Commented out for investigation.
        //font-size: 14;
    }
}

@mixin page($selectors) {
    #{$selectors} {
        @include colorize(
            $color: primary,
            $background-color: background
        );
    }
}

@mixin activity-indicator($selectors) {
    #{$selectors} {
        width: 30;
        height: 30;
    }
}

@mixin segmented-bar($selectors) {
    #{$selectors} {
        font-size: 13;
        @include colorize(
            $color: primary,
            $background-color: background
        );
    }
}

@mixin progress($selectors) {
    #{$selectors} {
        @include colorize($background-color: background-focus);
    }
}

@mixin slider($selectors) {
    #{$selectors} {
        margin: 20 16;
        @include colorize($background-color: focus);

        .ns-android & {
            @include colorize($color: focus);
        }

        .ns-ios & {
            margin: 10 15;
        }

        &[isEnabled=false] {
            background-color: $grey;
            color: $grey;
        }
    }
}

@mixin search-bar($selectors) {
    #{$selectors} {
        @include colorize($color: primary);
    }
}

@mixin switch($selectors) {
    #{$selectors} {
        .ns-android & {
            margin: 14 16;

            @include colorize(
                $color: background-alt-20,
                $background-color: background-alt-20
            );

            &[checked=true] {
                @include colorize($color: focus);
            }

            &[isEnabled=false] {
                @include colorize(
                    $color: background-alt-10
                );
            }
        }

        .ns-ios & {
            margin: 8 15;
            color: #fff;
            @include colorize(
                $background-color: focus,
                $off-background-color: background-alt-10
            );

            &[isEnabled=false] {
                @include colorize(
                    $background-color: primary-focus
                );
            }
        }
    }
}

@mixin tab-view($selectors) {
    #{$selectors} {
        tab-text-font-size: 18;
        text-transform: capitalize;
        @include colorize(
            $selected-tab-text-color: primary,
            $tab-background-color: background,
            $tab-text-color: tab-text-color
        );

        &.ns-dark {
            selected-tab-text-color: dark(primary);
            tab-background-color: dark(background);
            tab-text-color: dark(tab-text-color);
        }
    }
}

@mixin tabs() {
    TabStripItem,
    .nt-tab-strip__item {
        @include colorize($color: primary);
    }

    TabStrip,
    .nt-tab-strip {
        @include colorize($scale-alternate-background: background 5%);
    }

    TabContentItem,
    .nt-tab-content__item {
        @include colorize($background: background);
    }

    BottomNavigation,
    .nt-bottom-navigation {
        font-size: 14;
    }
}

// Skin

@mixin activity-indicator-skin($selectors) {
    #{$selectors} {
        @include colorize($color: focus);
    }
}

@mixin segmented-bar-skin($selectors) {
    #{$selectors} {
        @include colorize($selected-background-color: focus);

        .ns-ios & {
            margin: 0 15;
            @include colorize($color: focus);
        }
    }
}

@mixin progress-skin($selectors) {
    #{$selectors} {
        @include colorize($color: focus);
    }
}

@mixin slider-skin($selectors) {
    #{$selectors} {
        @include colorize($color: focus);

        &[isEnabled=false] {
            color: $grey;
        }
    }
}

@mixin switch-skin($selectors) {
    #{$selectors} {
        .ns-android & {
            @include colorize(
                $color: background-alt-20,
                $background-color: background-alt-20
            );

            &[checked=true] {
                @include colorize($color: focus);
            }

            &[isEnabled=false] {
                @include colorize(
                    $color: background-alt-10
                );
            }
        }

        .ns-ios & {
            @include colorize(
                $background-color: focus,
                $off-background-color: background-alt-10
            );

            &[isEnabled=false] {
                @include colorize(
                    $background-color: primary-focus,
                    $off-background-color: background-alt-10
                );
            }
        }
    }
}

@mixin tab-view-skin($selectors) {
    #{$selectors} {
        @include colorize(
            $selected-tab-text-color: focus,
            $android-selected-tab-highlight-color: focus
        );

        &.ns-dark {
            selected-tab-text-color: dark(focus);
            android-selected-tab-highlight-color: dark(focus)
        }
    }
}

@mixin tabs-skin() {
    TabStrip,
    .nt-tab-strip {
        @include colorize($highlight-color: focus);
    }

    TabStripItem:active,
    .nt-tab-strip__item:active {
        @include colorize($color: focus);
    }

    TabStripItem:active Label,
    .nt-tab-strip__item:active Label {
        @include colorize($color: focus);
    }
}
