ActionBar,
ThemeCustomActionBar {
    width: 100%;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, .2));
}

ActionBar,
ThemeCustomActionBar > GridLayout {
    width: 100%;
    height: 100%;
}

.-ios ThemeCustomActionBar > GridLayout {
    margin-left: -16;
}

.-android ThemeCustomActionBar > GridLayout {
    height: 56;
}

ThemeCustomActionBar > GridLayout > ThemeIcon {
    font-size: 24;
    margin-left: 16;
}

ThemeCustomActionBar > GridLayout > Label,
ThemeCustomActionBar > GridLayout > ThemeIcon {
    vertical-align: center;
}

ThemeCustomActionBar > GridLayout > Label {
    color: #fff;
    font-size: 17;
    margin: 0 16;
}
