Image {
    margin-bottom: 20;
}

/* Form Controls */

Label,
TextField,
PickerField,
DatePickerField,
TimePickerField {
    font-size: 14;
    placeholder-color: $grey;
}

Button,
Slider,
TextField,
PickerField,
DatePickerField,
TimePickerField,
.ks-date-time-picker {
    border-width: 1;
    border-color: $accent;
    border-radius: 3;
    padding: 10;
    margin: 5 0 20;
    font-size: 16;
}

/* Date Picker */

PickerField,
DatePickerField,
TimePickerField,
.ks-date-time-picker {
    background-image: url('~/assets/images/components/date.png');
    background-repeat: no-repeat;
    background-position: right center;
    background-color: transparent;

    @at-root .-ios & {
        background-size: 28 16;
    }
}

/* Time Picker */

TimePickerField {
    background-image: url('~/assets/images/components/time.png');
}


/* Date/Time Picker */

.ks-date-time-picker {
    padding: 0;
    flex-direction: row;
    background-image: url('~/assets/images/components/date-time.png');

    @at-root .-ios & {
        background-size: 56 16;
    }

    DatePickerField {
        width: 40%;
    }

    TimePickerField {
        flex-grow: 1;
    }

    DatePickerField,
    TimePickerField {
        background-image: none;
        border-width: 0;
        padding: 10;
        margin: 0;
    }
}


/* Picker */

PickerField {
    background-image: url('~/assets/images/components/picker.png');
}

PickerPage ListView {
    separator-color: transparent;

    > * {
        color: $text-color;
        height: 54;
        margin-top: 0;
        padding: 12 15;

        border-bottom-width: 1px;
        border-bottom-color: $primary-light;
    }
}


/* Form Buttons */

Button {
    width: auto;
    border-radius: 3;

    &:active {
        color: $btn-color-inverse;
        background-color: $accent;
        border-color: $accent;
    }
}

/* Form helpers */

StackLayout {
    padding: 8 16;
}

.ks-take-picture {
    > StackLayout {
        padding: 0;
        horizontal-align: center;
    }

    Button {
        width: 35%;
        margin: 5;
    }
}

Label {
    padding: 4 0;
}

Label.-data-label {
    color: $primary-light;
    margin-top: 0;
}

/* TabView */

TabView {
    font-size: 16;
    tab-text-color: mix($btn-color-inverse, $accent, 70%);
    tab-background-color: $accent;
    selected-tab-text-color: $btn-color-inverse;

    TabViewItem {
        text-transform: default;
    }
}

RadPieChart {
    width: 90%;
    height: 250;
}



:root {
    --test: red;
}

Button {
    background-color: blue;
}

Button {
    background-color: var(--test);
}
