// Import the theme’s variables. If you’re using a color scheme
// other than “light”, switch the path to the alternative scheme,
// for example '~nativescript-theme-core/scss/dark'.
@import '~nativescript-theme-core/styles/scss/blue';

@import '~nativescript-theme-widgets/theme.css';
@import '/assets/css/font-awesome.scss';

$accent-dark: darken($accent, 20%);
$accent-light: lighten($accent, 20%);
$primary-light: mix($primary, $accent, 60%);
$background-light: mix($background, $accent, 90%);
$background-dark: mix($background, $accent, 85%);
$ab-background-dark: darken($ab-background, 5%);





// To remove
$blue-dark: #022734 !default;
$blue-light: #02556E !default;
$blue-50: rgba($blue-dark, 0.5) !default;
$blue-20: rgba($blue-dark, 0.2) !default;
$blue-10: rgba($blue-dark, 0.1) !default;

$accent-dark: #3A53FF !default;
$accent-light: #4781FE !default;

$success-dark: #06CE6A !default;
$success-light: #00E676 !default;

$warning-dark: #f39c11 !default;
$warning-light: #F2C112 !default;

$error-dark: #D84039 !default;
$error-light: #ED473F !default;

$midnight-dark: #0F336D !default;
$midnight-light: #14418B !default;

$night-dark: #023141 !default;
$night-light: #01526C !default;

$page-icon-color: #D7D7D7 !default;

// Sizes
$page-content-placeholder-font-size: 20;
