ActionBar {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, .3));
}

TextField,
.form StackLayout Label,
.form StackLayout TextField {
  font-size: 14;
  placeholder-color: $grey;
}

TextField,
Button.-outline,
.form StackLayout TextField {
  border-width: 1;
  border-color: $accent-light;
  border-radius: 3;
  padding: 10 10 10 10;
  margin: 5 0 20;
  font-size: 16;
}

Button {
  width: 100%;
  border-radius: 3;
}

.dataform > StackLayout {
  padding: 16;
}


/* Detail Pages */

.detail-page {
  padding: 20;
}

TabView {
  tab-text-color: mix($btn-color-inverse, $accent, 70%);
  tab-background-color: $accent;
  selected-tab-text-color: $btn-color-inverse;
  TabViewItem {
    text-transform: default;
  }
}

RadPieChart {
  width: 90%;
  height: 250;
}

SearchBar {
  background-color: $background-light;

  textFieldBackgroundColor: 'red';
}
