/* Theme specific */

.hidden {
    visibility: collapsed;
}

/* SideDrawer */

RadSideDrawer {
    & > * {
        background: $background-light;
    }

    & > [tkDrawerContent] .user-info {
        padding: 30 25;
        background: $ab-background-dark;

        Label {
            color: $ab-color;
            font-size: 16;
            padding: 0;
            vertical-align: center;
        }

        > Label {
            font-size: 40;
            margin-right: 15;
        }
    }

    & > [tkDrawerContent] {
        color: $ab-color;
        background: $background;
    }

    & > [tkDrawerContent] StackLayout {
        horizontal-align: stretch;
    }

    & > [tkDrawerContent] ScrollView StackLayout {
        padding: 15 0;
    }

    & > [tkDrawerContent] Button {
        color: $primary;
        border-radius: 1;
        border-width: 0;
        width: 100%;
        padding: 10 20;
        margin-bottom: 0;
        font-size: 16;
        text-align: left;
        text-transform: none;
    }

    &.-ios > [tkDrawerContent] Button {
        height: 50;
        padding: 50 0 0 20;
        line-height: 50;
    }

    & > [tkDrawerContent] Button:active {
        color: $ab-color;
        background: $ab-background-dark;
    }
}

/* ListView & RadListView */

ListView,
RadListView {
    background-color: $background;

    @at-root .-ios & > *,
    .-android & > * > * {
        background-color: transparent;
        padding: 16;
    }

    StackLayout {
        padding: 0;
    }

    > * {
        color: $primary;
        font-size: 16;
        margin: 0;

        Label {
            padding: 5;
            vertical-align: center;
        }

        Label + Label {
            color: $secondary;
            font-size: 14;
        }

        Image {
            stretch: aspectFit;
        }

        &:highlighted {
            background-color: $grey;
        }
    }

    @at-root &.-single-col-cards {
        Image {
            width: 100%;
            height: 200;
        }
    }

    @at-root &.-two-col-cards {
        Image {
            height: 100;
        }

        @at-root .-ios & {
            > StackLayout {
                width: 50%;
            }

            > StackLayout Image {
                horizontal-align: left;
                width: 100%;
            }
        }
    }

    @at-root &.-two-lines-image,
    &.-single-line-image {
        Image {
            width: 60;
            height: 60;
            margin-right: 10;
            margin-bottom: 0;
        }
    }

    .-separator {
        border-bottom-width: 1;
        border-bottom-color: $background-light;
    }

    .list-view__delete {
        background-color: $error;
        padding: 0 10;
    }

    @at-root .-ios & .list-view__delete {
        padding: 0 10 0 25;
    }
    .list-view__delete > Label {
        color: #fff;
        horizontal-align: center;
        vertical-align: center;
        text-transform: capitalize;
    }
}

.-rounded {
    border-radius: 3;
}

/* Forms */

.form {
    .hr {
        background-color: $primary-light;

        &.active {
            background-color: $accent;
        }
    }

    &.-sides Label {
        font-size: 18;
        margin: 0 0 8 0;
    }

    &__or-separator {
        margin: 20 0;
    }

    &__link {
        color: $accent;
    }

    &__title {
        font-size: 18;
    }

    &[isEnabled=false] * {
        opacity: 0.7;
    }

    &__logo {
        margin: 20 0;
        width: 50%;
    }

    .-center {
        horizontal-align: center;
    }

    &__validation-message {
        color: #D50808;
        margin: 1 0 0;
        padding: 0;
        height: 19;
    }

    &__footer {
        padding: 0;
        horizontal-align: center;

        Button {
            width: 46%;
            margin: 5;
        }
    }
}


@import 'app-styles';
