@import '~nativescript-theme-core/scss/variables';

$base-theme:Material;
$skin-name:test;
$swatch-name:Blue Pink Dark;
$border-radius: 2px;
$primary-palette-name: blue;
$secondary-palette-name: pink;
$theme-type: dark;

@import '~nativescript-theme-core/index';
