.nt-app {
  class: -dark;
}

// Core variables
@import '../../variables';

/**
 * Dark variable overrides
 **/

// Colors
$background: $charcoal;
$primary: $white;
$secondary: darken($primary, 30%);
$disabled: darken($primary, 50%);
$accent: $sky !default;

// ActionBar
$ab-color: $primary !default;
$ab-background: mix($background, $primary, 20%) !default;

$text-color: $primary;
$headings-color: $primary;

$item-active-color: mix($primary, $background, 40%);
$item-active-icon-color: $item-active-color;

@import "../mixers";
