.nt-app {
  class: -dark;
}

// Core variables
@import '../../variables';

/**
 * Dark variable overrides
 **/

// Colors
$background: #303030 !default;
$primary: #fff !default;
$secondary: darken($primary, 30%) !default;
$disabled: darken($primary, 50%) !default;
$accent: $sky !default;

@import "../mixers";
