.list-group {
  .list-group-item {
    padding: 16 15 16 15;

    .thumb {
      margin-right: 15;
    }

    &.active {

    }

    .list-group-item-heading {
      margin-bottom: 5;
    }

    .list-group-item-text {

    }
  }
}
