// Core variables
@import '../variables';

/**
 * Forest variable overrides
 **/

// ActionBar
$ab-background: $grey-dark;
$ab-color: $white;

// Accent
$focus: $lime;

// Buttons
$btn-color-inverse: $white;
$btn-color: $focus;
$btn-color-secondary: darken($btn-color, 10%);
$background-alt-10: lighten($btn-color, 10%);

@import '../core/colors';
@import '../index';
