// Core variables
@import '../variables';

/**
 * Blue variable overrides
 **/

// ActionBar
$ab-background: $blue;
$ab-color: $white;

// Accent
$accent: $sky;

// Buttons
$btn-color-inverse: $white;

@import '../core/colors';
@import '../index';
