// Core variables
@import '../variables';

/**
 * Forest variable overrides
 **/

// ActionBar
$ab-background: $forest;
$ab-color: $white;

// Accent
$accent: $aqua;

// Buttons
$btn-color-inverse: $white;

@import '../core/mixers';
@import '../index';
