// Core variables
@import '../variables';

/**
 * Lemon variable overrides
 **/

// ActionBar
$ab-background: $lemon;
$ab-color: $charcoal;

// Accent
$accent: $grey-dark;

// Buttons
$btn-color-inverse: $white;

@import '../core/dark';
@import '../index';
