// Core variables
@import '../variables';

/**
 * Orange variable overrides
 **/

// ActionBar
$ab-background: $orange;
$ab-color: $white;

// Accent
$accent: $brown;

// Buttons
$btn-color-inverse: $white;

@import '../core/mixers';
@import '../index';
