// Core variables
@import '../variables';

/**
 * Sky variable overrides
 **/

// ActionBar
$ab-background: $sky;
$ab-color: $white;

// Accent
$accent: $lemon;

// Buttons
$btn-color-inverse: $charcoal;

@import '../core/mixers';
@import '../index';
