// Colors
$background: #303030;
$primary: #fff;
$secondary: lighten(#fff, 30%);
$disabled: lighten(#fff, 50%);
$accent: #30bcff;

// Headings
$headings-color: $primary;

//side-drawer
$item-color-android : #a0a0a0;
$item-active-background:#2b2b2b;
$item-active-color:$accent;
$item-active-icon-color:#fff;
$item-color-ios:#848484;
$image-background: #e0e0e0;
$side-drawer-header-background: $accent;
$side-drawer-header-brand:#fff;
$side-drawer-background: #303030;