
@if not $compat {
    @include button-skin(
                ('Button',
                '.nt-button')
    );

    @include activity-indicator-skin(
                ('ActivityIndicator',
                '.nt-activity-indicator')
    );

    @include segmented-bar-skin(
                ('SegmentedBar',
                '.nt-segmented-bar')
    );

    @include progress-skin(
                ('Progress',
                '.nt-progress')
    );

    @include slider-skin(
                ('Slider',
                '.nt-slider')
    );

    @include search-bar-skin(
                ('SearchBar',
                '.nt-search-bar')
    );

    @include switch-skin(
                ('Switch',
                '.nt-switch')
    );

    @include tab-view-skin(
                ('TabView',
                '.nt-tab-view')
    );

    @include tabs-skin();

    @include list-view-skin(
                ('ListView',
                'RadListView',
                '.nt-list-view')
    );

    @include side-drawer-skin(
                ('RadSideDrawer',
                '.nt-drawer')
    );


    // Forms

    @include form-skin(
                ('Form',
                '.nt-form')
    );

    @include form-fields-skin();

    @include input-component-skin(
                ('.nt-input')
    );

  @include action-bar-skin(
              ('ActionBar',
              '.nt-action-bar'),
              ('Label',
              'Button',
              '.nt-action-bar__item')
  );

} @else {
    @include button-skin('.btn');
    @include activity-indicator-skin('.activity-indicator');
    @include segmented-bar-skin('.segmented-bar');
    @include progress-skin('.progress');
    @include slider-skin('.slider');
    @include switch-skin('.switch');
    @include tab-view-skin('.tab-view');
    @include list-view-skin('.list-group');
    @include side-drawer-skin('.side-drawer');
    @include form-fields-skin();
    @include input-component-skin('.input-field');
    @include action-bar-skin('.action-bar', '.action-item');
}
