ActionBar,
.action-bar,
ThemeCustomActionBar {
    font-weight: bold;
    font-size: 17;
    padding-top: 0;

    .action-bar-title {
        vertical-align: center;
    }

    Button,
    .action-item {
        android-elevation: 0;
        font-size: 15;
        padding: 12 3;
        margin: 0;
        min-width: 0;
        width: auto;
        border-width: 0;
        text-transform: none;
        font-weight: normal;
    }

    @at-root Page > & {
        padding-top: 24;
    }

    @at-root .-android & Button {
        border-radius: 1;
        padding: 12 6;

        &:highlighted {
            opacity: .7;
        }
    }
}

