ActionBar,
.action-bar,
NTActionBar {
    @include colors(
        $color: ab-color,
        $background-color: ab-background
    );

    font-weight: bold;
    font-size: 17;
    padding-top: 0;

    .ns-android & {
        font-weight: 500;
        font-size: 20;
    }

    .action-bar-title {
        vertical-align: center;
    }

    NTIcon,
    Button,
    .action-item {
        android-elevation: 0;
        font-size: 15;
        padding: 12 3;
        margin: 0;
        min-width: 0;
        width: auto;
        border-width: 0;
        text-transform: none;
        font-weight: normal;

        &:highlighted {
            android-elevation: 0;
            background-color: transparent;
        }
    }

    Page > & {
        padding-top: 24;
    }

    .ns-android & Button {
        border-radius: 1;
        padding: 12 6;

        &:highlighted {
            opacity: .7;
        }
    }

    .ns-ios &,
    .ns-android & {
        Button:highlighted,
        .action-item:highlighted {
            @include colors($color: ab-color);
        }
    }
}
