Button,
.btn {
    min-height: 36;
    min-width: 64;
    text-transform: none;
    padding: 0;
    font-family: 'Roboto Medium';
    font-size: 14;
    border-width: 1;
    border-color: transparent;

    @include button-base($btn-padding-y, $btn-padding-x, $btn-margin-y, $btn-margin-x, $btn-font-size, $btn-radius, 0);

    @at-root .-ios & {
        border-width: 0;
        font-family: 'SF UI Text Medium';
        font-size: 15;
    }

    @at-root .-outline,
             &-outline {
        android-elevation: 0;
        border-width: 1;
    }

    &.-rounded-sm,
    &-rounded-sm {
        border-radius: 2;

        @at-root .-ios & {
            border-radius: 4;
        }
    }

    &.rounded-lg,
    &-rounded-lg {
        border-radius: 40;

        @at-root .-ios & {
            border-radius: 19;
        }
    }

    &[isEnabled=false] {
        opacity: .5;
    }
}
