// Core light colors
$light-colors: (
    primary: $primary,
    background: $background,
    accent: $accent,
    ab-color: $ab-color,
    ab-background: $ab-background
);

$light-colors: map-merge($light-colors, (
    secondary: darken(map-get($light-colors, primary), 30%),
    disabled: mix(map-get($light-colors, accent), $charcoal, 30%),

    text-color: map-get($light-colors, primary),
    headings-color: map-get($light-colors, primary),

    tab-text-color: mix(#999, map-get($light-colors, accent), 70%),

    accent-dark: darken(map-get($light-colors, accent), 20%),
    accent-light: lighten(map-get($light-colors, accent), 20%),
    primary-accent: mix(transparent, map-get($light-colors, accent), 60%),
    background-accent: mix(transparent, map-get($light-colors, accent), 90%),
    background-dark-accent: mix(transparent, map-get($light-colors, accent), 85%),

    item-active-color: mix(map-get($light-colors, primary), map-get($light-colors, background), 40%),
    item-active-background: map-get($light-colors, accent),

    btn-color: map-get($light-colors, primary)
));

$light-colors: map-merge($light-colors, (
    ab-background-dark: darken(map-get($light-colors, ab-background), 5%),
    item-active-icon-color: map-get($light-colors, item-active-color),
    btn-color-inverse: text-contrast(map-get($light-colors, accent)),
    btn-color-secondary: darken(map-get($light-colors, btn-color), 10%),
    btn-color-outline-highlighted: lighten(map-get($light-colors, primary-accent), 20%)
));

// Core dark colors
$dark-colors: (
    primary: $white,
    background: $charcoal,
    accent: $accent
);

$dark-colors: map-merge($dark-colors, (
    secondary: darken(map-get($dark-colors, primary), 30%),
    disabled: mix(map-get($dark-colors, accent), $charcoal, 30%),

    ab-color: mix($ab-color, map-get($dark-colors, primary), 20%),
    ab-background: mix($ab-background, map-get($dark-colors, background), 30%),

    text-color: map-get($dark-colors, primary),
    headings-color: map-get($dark-colors, primary),

    tab-text-color: mix(#999, map-get($dark-colors, accent), 70%),

    accent-dark: lighten(map-get($dark-colors, accent), 20%),
    accent-light: lighten(map-get($dark-colors, accent), 40%),
    primary-accent: mix(transparent, map-get($dark-colors, accent), 60%),
    background-accent: mix(transparent, map-get($dark-colors, accent), 90%),
    background-dark-accent: mix(transparent, map-get($dark-colors, accent), 85%),

    item-active-color: mix(map-get($dark-colors, primary), map-get($dark-colors, background), 40%),
    item-active-background: map-get($dark-colors, accent),

    btn-color: map-get($dark-colors, primary)
));

$dark-colors: map-merge($dark-colors, (
    ab-background-dark: darken(map-get($dark-colors, ab-background), 5%),
    item-active-icon-color: map-get($dark-colors, item-active-color),
    btn-color-inverse: text-contrast(map-get($dark-colors, accent)),
    btn-color-secondary: darken(map-get($dark-colors, btn-color), 10%),
    btn-color-outline-highlighted: darken(map-get($dark-colors, primary-accent), 20%)
));

