.fa {
  font-family: FontAwesome, fontawesome-webfont;
}

.ns-theme {
    color: $primary;
    font-family: 'Roboto Medium';
    font-size: 14;

    @at-root .ns-ios {
        font-family: 'SF UI Text Medium';
        font-size: 15;
    }
}

.-hidden,
.hidden {
    visibility: collapsed;
}

.-rounded,
.rounded {
    border-radius: 3;
}

Label,
.label {
    font-size: 14;
}

Page,
.page {
    @include colorize(
        $color: primary,
        $background-color: background
    );
}

ActivityIndicator,
.activity-indicator {
    width: 30;
    height: 30;
}

SegmentedBar,
.segmented-bar {
    font-size: 13;
    @include colorize(
        $color: primary,
        $background-color: background
    );
}

Progress,
.progress {
    @include colorize($background-color: background-accent);
}

Slider,
.slider {
    margin: 20 16;
    @include colorize($background-color: accent);

    .ns-android & {
        @include colorize($color: accent);
    }

    .ns-ios & {
        margin: 10 15;
    }

    &[isEnabled=false] {
        background-color: $grey;
        color: $grey;
    }
}

SearchBar,
.search-bar {
    @include colorize($color: primary);
}

Switch,
.switch {
    margin: 14 16;
    border-width: 1;
    color: $grey;
    background-color: $grey;

    &[checked=true] {
        @include colorize($color: accent);
    }

    .ns-ios & {
        margin: 8 15;
        @include colorize($background-color: background-accent);
    }

    &[checked=true][isEnabled=false] {
        background-color: $grey;
        color: $white;
    }

    &[isEnabled=false] {
        background-color: $grey;
        color: $grey;
    }
}


TabView,
.tab-view {
    tab-text-font-size: 18;
    text-transform: capitalize;
    @include colorize(
        $selected-tab-text-color: primary,
        $tab-background-color: background,
        $tab-text-color: tab-text-color
    );
}

/* Dividers */

.hr-light,
.hr-dark {
    height: 0;
    width: 100%;
    margin: 10 0;
    border-width: 0 0 1;
    border-style: solid;
}
