.fa {
  font-family: FontAwesome, fontawesome-webfont;
}

.ns-theme {
    color: $primary;
    font-family: 'Roboto Medium';
    font-size: 14;

    @at-root .ns-ios {
        font-family: 'SF UI Text Medium';
        font-size: 15;
    }
}

.-hidden,
.hidden {
    visibility: collapsed;
}

.-rounded,
.rounded {
    border-radius: 3;
}

Label,
.label {
    font-size: 14;
}

Page,
.page {
    @at-root .ns-dark & {
        $background: $charcoal;
        $primary: $white;
    }

    color: $primary;
    background-color: $background;
}

ActivityIndicator,
.activity-indicator {
    width: 30;
    height: 30;
}

SegmentedBar,
.segmented-bar {
    font-size: 13;
    color: $primary;
    background-color: $background;
}

Progress,
.progress {
    background-color: $background-accent;
}

Slider,
.slider {
    margin: 20 16;
    background-color: $accent;

    @at-root .ns-android & {
        color: $accent;
    }

    @at-root .ns-ios & {
        margin: 10 15;
    }

    &[isEnabled=false] {
        background-color: $grey;
        color: $grey;
    }
}

SearchBar,
.search-bar {
    color: $primary;
}

Switch,
.switch {
    margin: 14 16;
    border-width: 1;
    color: $grey;
    background-color: $grey;

    &[checked=true] {
        color: $accent;
    }

    @at-root .-ios & {
        margin: 8 15;
        background-color: $background-accent;
    }

    &[checked=true][isEnabled=false] {
        background-color: $grey;
        color: $white;
    }

    &[isEnabled=false] {
        background-color: $grey;
        color: $grey;
    }
}


TabView,
.tab-view {
    tab-text-font-size: 18;
    text-transform: capitalize;
    selected-tab-text-color: $primary;
    tab-background-color: $background;
    tab-text-color: mix(#999, $accent, 70%);
}

/* Dividers */

.hr-light,
.hr-dark {
    height: 0;
    width: 100%;
    margin: 10 0;
    border-width: 0 0 1;
    border-style: solid;
}
