/* Forms */

Form,
.form {
    font-family: 'Roboto Regular';

    @at-root .-ios & {
        font-family: 'SF UI Text Regular';
    }

    .form__or-separator {
        margin: 20 0;
    }

    .form__link {
        color: $accent;
    }

    .form__title {
        font-size: 18;
    }

    &[isEnabled=false] * {
        opacity: 0.7;
    }

    .form__logo {
        margin: 20 0;
        width: 50%;
    }

    .-center {
        horizontal-align: center;
    }

    .form__validation-message {
        color: #D50808;
        margin: 1 0 0;
        padding: 0;
        height: 19;
    }

    .form__footer {
        padding: 0;
        horizontal-align: center;

        Button {
            width: 46%;
            margin: 5;
        }
    }
}

/* Form Validation styling */

TextField,
PickerField,
DatePickerField,
TimePickerField {
    &.ng-valid {
        margin-bottom: 20;
    }

    &.ng-invalid.ng-dirty {
        margin-bottom: 0;
        border-color: #D50808;
    }
}

/* Input fields */

Label,
TextView,
TextField,
PickerField {
    padding: 2 0;
    margin: 0;
}

.input,
TextField,
PickerField,
DatePickerField,
TimePickerField {
    font-size: 16;
    padding: 16 8;
    background-color: transparent;

    @at-root .-ios & {
        font-size: 15;
    }

    &.-rounded,
    &.-border,
    &.input-rounded,
    &.input-border {
        border-width: 1;
        border-radius: 4;
        padding: 16;
    }

    &.-rounded,
    &.input-rounded {
        border-radius: 28;
    }

    &[isEnabled=false] {
        opacity: .5;
    }
}

NTInput,
.input-field {
    margin: 8 16 0;

    .label,
    NTInput > Label {
        font-size: 16;
        color: $grey-background;
    }

    .input,
    NTInput > TextField {
        padding: 0;
        margin: 0 0 8 0;
    }

    .-sides,
    &.input-sides {
        .label,
        NTInput > Label {
            font-size: 18;
            margin: 0 0 8 0;
        }
    }

    NTInput > NTIcon {
        font-size: 24;
        vertical-align: center;
        horizontal-align: right;
        margin: -15 10 0 0;
    }
}
