.list-view,
ListView,
RadListView {
    background-color: transparent;

    > *,
    .list-group-item {
        background-color: transparent;
        padding: 16;
    }

    StackLayout {
        padding: 0;
    }

    > *,
    .list-group-item {
        color: $primary;
        font-size: 16;
        margin: 0;

        Label {
            padding: 5;
            vertical-align: center;
        }

        Image {
            stretch: aspectFit;
        }

        &.active,
        &:highlighted {
            background-color: $grey;
        }
    }

    @at-root &.-single-col-cards {
        Image {
            width: 100%;
            height: 200;
        }
    }

    @at-root &.-two-col-cards {
        Image {
            height: 100;
        }

        @at-root .-ios & {
            > StackLayout {
                width: 50%;
            }

            > StackLayout Image {
                horizontal-align: left;
                width: 100%;
            }
        }
    }

    @at-root &.-two-lines-image,
    &.-single-line-image {
        Image {
            width: 60;
            height: 60;
            margin-right: 10;
            margin-bottom: 0;
        }
    }

    .-separator {
        border-bottom-width: 1;
        border-bottom-color: $background-light;
    }

    .list-view__delete {
        background-color: $error;
        padding: 0 10;
    }

    @at-root .-ios & .list-view__delete {
        padding: 0 10 0 25;
    }

    .list-view__delete > Label {
        color: #fff;
        horizontal-align: center;
        vertical-align: center;
        text-transform: capitalize;
    }

    .thumb {
      stretch: fill;
      width: 40;
      height: 40;
      margin-right: 16;
    }

    .list-group-item-heading {
        margin-bottom: 5;
    }

    .list-group-item-text {
      color: $secondary;
      font-size: 14;
    }
}
