// ActionBar
$ab-color: $primary !default;
$ab-background: mix($background, $primary, 20%) !default;

$accent-dark: darken($accent, 20%) !default;
$accent-light: lighten($accent, 20%) !default;
$primary-light: mix($primary, $accent, 60%) !default;
$background-light: mix($background, $accent, 90%) !default;
$background-dark: mix($background, $accent, 85%) !default;
$ab-background-dark: darken($ab-background, 5%) !default;
