.text-muted {
    @include colorize($color: disabled);
}


//* Workarounds and tweaks *//


// FormattedString Spans inherit the background of their parent
Label,
Button,
TextField,
TextView {
    > *,
    > * > * {
        background-color: transparent;
    }
}

Image,
ListView,
RadListView {
    min-height: 100;
}

Image {
    margin-bottom: 20;
}

NTIcon,
.nt-icon {
    font-size: 16;
}

