// Core variables
@import '../variables/index';

/**
 * Blue variable overrides
 **/

// ActionBar
$ab-background: $blue;
$ab-color: $white;

// Accent
$focus: $sky;

// Buttons
$btn-color-inverse: $white;

@import '../core/colors';
