// Core variables
@import './index';

/**
 * Brown variable overrides
 **/

// Complementary
$complementary: const(brown);
$complementary-color: const(white);

// Accent
$accent: const(lime);

// Buttons
$btn-color-inverse: const(white);

@import '../core/colors/index';
