// Core variables
@import './index';

/**
 * Brown variable overrides
 **/

// ActionBar
$ab-background: const(brown);
$ab-color: const(white);

// Accent
$focus: const(lime);

// Buttons
$btn-color-inverse: const(white);

@import '../core/colors/index';
