// Core variables
@import './index';

/**
 * Forest variable overrides
 **/

// ActionBar
$ab-background: const(forest);
$ab-color: const(white);

// Accent
$focus: const(aqua);

// Buttons
$btn-color-inverse: const(white);

@import '../core/colors/index';
