// Core variables
@import './index';

/**
 * Forest variable overrides
 **/

// ActionBar
$ab-background: const(grey-dark);
$ab-color: const(white);

// Accent
$focus: const(lime);

// Buttons
$btn-color-inverse: const(white);
$btn-color: $focus;
$btn-color-secondary: darken($btn-color, 10%);
$background-alt-10: lighten($btn-color, 10%);

@import '../core/colors/index';
