// Mixins
@import '../mixins/index';

$compat: false !default;

$black: #000 !default;
$white: #fff !default;
$base: $white !default;
$grey: #e0e0e0 !default;
$grey-background: #bababa !default;
$charcoal: #303030 !default;

// Kendo Palettes
@import '../core/primitives/kendo-palletes';

$font-size: 12 !default;

// Button defaults
$background-alt-10: #c0ebff !default;
$btn-color-secondary: #01a0ec !default;
$btn-color-disabled: #a4a4a4 !default;
$btn-font-size: $font-size + 2 !default;
$btn-min-width: 64 !default;
$btn-height: 52 !default;
$btn-padding-x: 5 !default;
$btn-padding-y: 0 !default;
$btn-margin-x: 16 !default;
$btn-margin-y: 8 !default;
$btn-radius: 0 !default;

$headings-margin-bottom: 4 !default;
$headings-font-weight: normal !default;

// Border defaults
$border-width: 1 !default;
// Needs to be defined, to mitigate leftover radii from other themes
$border-radius: null !default;
$border-radius-sm: 4 !default;
$border-radius-lg: 50% !default;

// Misc defaults
$disabled-opacity: .5 !default;

// Options
//
// Quickly modify global styling by enabling or disabling optional features.
// Only border-radius affects all styles, the rest are bootstrap only.
$enable-rounded:            false !default;
$enable-shadows:            false !default;
$enable-gradients:          false !default;
$enable-transitions:        false !default;


// Colors
$background: #fff !default;
$primary: alternate($background, 85%) !default;
$secondary: darken($primary, 30%) !default;

$background-dark: $charcoal !default;
$primary-dark: alternate($background-dark, 85%) !default;
$secondary-dark: darken($primary-dark, 30%) !default;

$complementary: $white !default;
$complementary-dark: transparent !default;

$complementary-color: alternate($complementary, 100%) !default;
$complementary-color-dark: transparent !default;

$theme-variant: "nativescript";

$material-colors: () !default;

// Kendo and compatibility overrides

@if (global_variable_exists('ab-background')) {
    $complementary: $ab-background;
}

@if (global_variable_exists('ab-color')) {
    $complementary-color: $ab-color;
}

@if (global_variable_exists('secondary-palette-name')) {
    $secondary: $secondary-palette-name;
}

@if ($border-radius != null) {
    $btn-radius: rem-to-dip($border-radius);
    $enable-rounded: true;
} else {
    $btn-radius: 0;
    $enable-rounded: false;
}

@if (global_variable_exists("text-color")) {
    $primary: $text-color;
}

@if (global_variable_exists("body-color")) {
    $primary: $body-color;
}

@if (global_variable_exists("theme-type")) {
    $theme-variant: "kendo-material";
}

@if (global_variable_exists("body-bg")) {
    $theme-variant: "kendo-bootstrap";

    $background: $body-bg;
}

@if (global_variable_exists("bg-color")) {
    $theme-variant: "kendo-default";

    $background: $bg-color;
}

// Core colors
@import '../core/colors/index';
