// Mixins
@import '../mixins/index';

$compat: false !default;

$black: #000 !default;
$white: #fff !default;
$base: $white !default;
$grey: #e0e0e0 !default;
$grey-background: #bababa !default;
$charcoal: #303030 !default;

// Kendo Palettes
@import '../core/utilities/kendo-palletes';

// Options
//
// Quickly modify global styling by enabling or disabling optional features.
// Only border-radius affects all styles, the rest are bootstrap only.
$enable-rounded:            false !default;
$enable-shadows:            false !default;
$enable-gradients:          false !default;
$enable-transitions:        false !default;

// Needs to be defined, to mitigate leftover radii from other themes
$border-radius: null !default;
$btn-radius: 0 !default;

// $accent is only used for compatibility with Kendo Material theme.
// Main accent variable is $focus. However, it again becomes accent in the color map.
$accent: lightblue !default;

// Colors
$background: #fff !default;
$primary: alternate($background, 85%) !default;
$secondary: darken($primary, 30%) !default;
$focus: lightblue !default;
$disabled: mix($focus, $background, 40%), !default;

$ab-color: $primary;
$ab-background: mix($background, $primary, 20%);

// Kendo overrides

@if (global_variable_exists('primary-palette-name')) {
    $focus: $primary-palette-name;
}

@if (global_variable_exists('secondary-palette-name')) {
    $secondary: $secondary-palette-name;
}

@if ($border-radius != null) {
    $btn-radius: rem-to-dip($border-radius);
    $enable-rounded: true;
} else {
    $btn-radius: 0;
    $enable-rounded: false;
}

@if (global_variable_exists("text-color")) {
    $primary: $text-color;
}

@if (global_variable_exists("body-color")) {
    $primary: $body-color;
}

@if (global_variable_exists("theme-type")) {
    $material-secondary: get-base-hue($secondary-palette-name, 500);
    $material-colors: if($theme-type == dark, $material-dark-complimentary, $material-light-complimentary);
}

@if (global_variable_exists("body-bg")) {
    $background: $body-bg;
    $focus: $secondary;
}

@if (global_variable_exists("bg-color")) {
    $background: $bg-color;
    $focus: $base-bg;
}

// Core colors
@import '../core/colors/index';
