// Core variables
@import '../variables/index';

/**
 * Lemon variable overrides
 **/

// ActionBar
$ab-background: $lemon;
$ab-color: $charcoal;

// Accent
$focus: $grey-dark;

// Buttons
$btn-color-inverse: $white;

@import '../core/colors';
