// Core variables
@import './index';

/**
 * Lemon variable overrides
 **/

// ActionBar
$ab-background: const(lemon);
$ab-color: const(charcoal);

// Accent
$focus: const(grey-dark);

// Buttons
$btn-color-inverse: const(white);

@import '../core/colors/index';
