// Core variables
@import './index';

/**
 * Lime variable overrides
 **/

// ActionBar
$ab-background: const(lime);
$ab-color: const(charcoal);

// Accent
$focus: const(forest);

// Buttons
$btn-color-inverse: const(white);

@import '../core/colors/index';
