// Core variables
@import '../variables/index';

/**
 * Orange variable overrides
 **/

// ActionBar
$ab-background: $orange;
$ab-color: $white;

// Accent
$focus: $brown;

// Buttons
$btn-color-inverse: $white;

@import '../core/colors';
