// Core variables
@import './index';

/**
 * Purple variable overrides
 **/

// ActionBar
$ab-background: const(purple);
$ab-color: const(white);

// Accent
$focus: const(sky);

// Buttons
$btn-color-inverse: const(white);

@import '../core/colors/index';
