// Core variables
@import '../variables';

/**
 * Purple variable overrides
 **/

// ActionBar
$ab-background: $purple;
$ab-color: $white;

// Accent
$focus: $sky;

// Buttons
$btn-color-inverse: $white;

@import '../core/colors';
