// Core variables
@import './index';

/**
 * Ruby variable overrides
 **/

// Accent
$accent: const(lemon);

// Complementary
$complementary: const(ruby);
$complementary-color: const(white);

// Buttons
$btn-color-inverse: const(charcoal);

@import '../core/colors/index';
