// Core variables
@import './index';

/**
 * Ruby variable overrides
 **/

// ActionBar
$ab-background: const(ruby);
$ab-color: const(white);

// Accent
$focus: const(lemon);

// Buttons
$btn-color-inverse: const(charcoal);

@import '../core/colors/index';
