// Constants

$constants: (
    black: $black,
    white: $white,
    grey: $grey,
    grey-light: $grey-background,
    charcoal: $charcoal,
    transparent: transparent,

    // accent varieties
    aqua: $aqua,
    blue: $blue,
    brown: $brown,
    forest: $forest,
    grey-dark: $grey-dark,
    purple: $purple,
    lemon: $lemon,
    lime: $lime,
    orange: $orange,
    ruby: $ruby,
    sky: $sky,

    error: $error,

    // Buttons
    btn-color-secondary: $btn-color-secondary,
    background-alt-10: $background-alt-10,
    btn-color-disabled: $btn-color-disabled,
    btn-font-size: $btn-font-size,
    btn-min-width: $btn-min-width,
    btn-height: $btn-height,
    btn-radius: $btn-radius,
    btn-padding-x: $btn-padding-x,
    btn-padding-y: $btn-padding-y,
    btn-margin-x: $btn-margin-x,
    btn-margin-y: $btn-margin-y,

    // Headings
    headings-margin-bottom: $headings-margin-bottom,
    headings-font-weight: $headings-font-weight,

    border-radius: $border-radius
);

@import "./light";
@import "./dark";
