// $focus is an internal variable to abstract the accent from the input
$focus: null !default;

@if (global_variable_exists('primary-palette-name')) {
    $focus: $primary-palette-name;
} @else {
    @if (global_variable_exists('accent')) {
        $focus: $accent;
    } @else {
        $focus: #30bcff;
    }
}

$accent-dark: transparent !default;
$disabled: mix($focus, $background, 40%), !default;
$border-color: $focus !default;

// Constants

$colors:  (
    // Core colors
    "black": $black,
    "white": $white,
    grey: $grey,
    grey-light: $grey-background,
    charcoal: $charcoal,
    "transparent": transparent,

    // Accents
    aqua: #00caab,
    blue: #3a53ff,
    brown: #795548,
    forest: #006968,
    grey-dark: #5c687c,
    purple: #8130ff,
    lemon: #ffea00,
    lime: #aee406,
    orange: #f57c00,
    ruby: #ff1744,
    sky: #30bcff,

    error: #d50000
);

$constants: map-merge($colors, (
    font-size: $font-size,

    // Buttons
    background-alt-10: $background-alt-10,
    btn-color-secondary: $btn-color-secondary,
    btn-color-disabled: $btn-color-disabled,
    btn-font-size: $btn-font-size,
    btn-min-width: $btn-min-width,
    btn-height: $btn-height,
    btn-padding-x: $btn-padding-x,
    btn-padding-y: $btn-padding-y,
    btn-margin-x: $btn-margin-x,
    btn-margin-y: $btn-margin-y,
    btn-radius: $btn-radius,

    // Headings
    headings-margin-bottom: $headings-margin-bottom,
    headings-font-weight: $headings-font-weight,

    // Borders
    border-width: $border-width,
    border-radius: $border-radius,
    border-radius-sm: $border-radius-sm,
    border-radius-lg: $border-radius-lg,

    // Icons
    icon-font-size: $font-size,
    icon-font-size-lg: $font-size + 4,

    // Misc
    disabled-opacity: $disabled-opacity
));

@import "./light";
@import "./dark";
