// Constants

$constants: (
    black: $black,
    white: $white,
    grey: $grey,
    grey-light: $grey-background,
    charcoal: $charcoal,
    transparent: transparent,

    // accent varieties
    aqua: #00caab,
    blue: #3d5afe,
    brown: #795548,
    forest: #006968,
    grey-dark: #5c687c,
    purple: #8130ff,
    lemon: #ffea00,
    lime: #aee406,
    orange: #f57c00,
    ruby: #ff1744,
    sky: #30bcff,

    error: #d50000,

    // Buttons
    btn-color-secondary: #01a0ec,
    background-alt-10: #c0ebff,
    btn-color-disabled: #a4a4a4,
    btn-font-size: 18,
    btn-min-width: 64,
    btn-height: 52,
    btn-radius: $btn-radius,
    btn-padding-x: 0,
    btn-padding-y: 0,
    btn-margin-x: 16,
    btn-margin-y: 8,

    // Headings
    headings-margin-bottom: 4,
    headings-font-weight: normal,

    // Borders
    border-width: 1,
    border-radius: $border-radius,
    border-radius-sm: 2,
    border-radius-lg: 50%,
    border-radius-rounded: 5,

    // Misc
    disabled-opacity: .5
);

@import "./light";
@import "./dark";
