ActionBar,
.action-bar,
NTActionBar {
    @include colors(
        $color: ab-color,
        $background-color: ab-background
    );

    Button,
    .action-item {
        @include colors($color: ab-color);
    }

    .ns-ios &,
    .ns-android & {
        Button:highlighted,
        .action-item:highlighted {
            @include colors($color: ab-color);
        }
    }
}

