ActionBar,
.action-bar,
ThemeCustomActionBar {
    background-color: $ab-background;
    color: $ab-color;

    Button,
    .action-item {
        color: $ab-color;
    }

    Button:highlighted,
    .action-item:highlighted {
        background-color: transparent;
    }

    @at-root .-ios &,
             .-android & {
        Button:highlighted,
        .action-item:highlighted {
            color: $ab-color;
        }
    }
}

