// Core variables
@import 'variables';

/**
 * Blue variable overrides
 **/

// ActionBar
$ab-background: $blue;
$ab-color: $white;

$accent: $sky;

// Buttons
$btn-color-inverse: $white;

@import 'core/mixers';
@import 'index';
