.btn {
  color: $btn-color;
  background-color: transparent;
  min-height: 36;
  min-width: 64;

  &.btn-active:highlighted {
    color: $white;
    background-color: $btn-color-outline-highlighted;
  }

  @include button-base($btn-color, $btn-padding-y, $btn-padding-x, $btn-margin-y, $btn-margin-x, $btn-font-size, $btn-radius, 0);
}

.btn-primary {
  background-color: $btn-color;
  border-color: $btn-color;
  color: $btn-color-inverse;

  &.btn-active:highlighted {
    background-color: $btn-color-secondary;
    border-color: $btn-color-secondary;
  }

  &.btn-aqua {
    background-color: $aqua;
  }

  &.btn-blue {
    background-color: $blue;
  }

  &.btn-brown {
    background-color: $brown;
  }

  &.btn-forest {
    background-color: $forest;
  }

  &.btn-grey {
    background-color: $grey-dark;
  }

  &.btn-lemon {
    background-color: $lemon;
    color: $black;
  }

  &.btn-lime {
    background-color: $lime;
    color: $black;
  }

  &.btn-orange {
    background-color: $orange;
  }

  &.btn-purple {
    background-color: $purple;
  }

  &.btn-ruby {
    background-color: $ruby;
  }

  &.btn-sky {
    background-color: $sky;
  }
}

.btn-outline {
  background-color: transparent;
  border-color: $btn-color;
  color: $btn-color;

  &.btn-active:highlighted {
    background-color: $btn-color-outline-highlighted;
  }
}

.btn[isEnabled=false] {
  color: $btn-color-disabled;
  background-color: $grey;
  border-color: $grey;
}
