Button,
.btn {
    @include colorize($color: accent-dark);

    &.btn-active:highlighted,
    &:highlighted {
        @include colorize(
            $color: accent-dark,
            $background-color: btn-color-outline-highlighted
        );
    }

    &-primary,
    &.-primary {
        @include colorize(
            $text-contrast-color: accent,
            $background-color: accent,
            $border-color: accent
        );

        &.btn-active:highlighted,
        &:highlighted {
            @include colorize(
                $background-color: accent-light,
                $border-color: accent-light
            );
        }
    }

    &-outline,
    &.-outline {
        @include colorize(
            $border-color: accent
        );

        &[isEnabled=false] {
            @include colorize(
                $color: tab-text-color,
                $border-color: tab-text-color,
                $background-color: transparent
            );
        }
    }

    &[isEnabled=false] {
        @include colorize($background-color: disabled);
    }
}
