Button,
.btn {
    color: $btn-color;
    background-color: transparent;

    &.btn-active:highlighted,
    &:highlighted {
        color: $white;
        background-color: $btn-color-outline-highlighted;
    }

    &-primary,
    &.-primary {
        color: $btn-color-inverse;
        background-color: $accent;
        border-color: $accent;

        &.btn-active:highlighted,
        &:highlighted {
            background-color: $accent-dark;
            border-color: $accent-dark;
        }
    }

    &-outline,
    &.-outline {
        android-elevation: 0;
        background-color: transparent;
        border-color: $btn-color;
        color: $btn-color;

        &.btn-active:highlighted,
        &:highlighted {
            background-color: $btn-color-outline-highlighted;
        }
    }

    &-aqua,
    &.-aqua {
        background-color: $aqua;
    }

    &-blue,
    &.-blue {
        background-color: $blue;
    }

    &-brown,
    &.-brown {
        background-color: $brown;
    }

    &-forest,
    &.-forest {
        background-color: $forest;
    }

    &-grey,
    &.-grey {
        background-color: $grey-dark;
    }

    &-lemon,
    &.-lemon {
        background-color: $lemon;
        color: $black;
    }

    &-lime,
    &.-lime {
        background-color: $lime;
        color: $black;
    }

    &-orange,
    &.-orange {
        background-color: $orange;
    }

    &-purple,
    &.-purple {
        background-color: $purple;
    }

    &-ruby,
    &.-ruby {
        background-color: $ruby;
    }

    &-sky,
    &.-sky {
        background-color: $sky;
    }
}
