ActivityIndicator,
.activity-indicator {
    color: $accent;
}

SegmentedBar,
.segmented-bar {
    selected-background-color: $accent;

    @at-root .-ios & {
        margin: 0 15;
        color: $accent;
    }
}

Progress,
.progress {
    color: $accent-light;
}

Slider,
.slider {
    color: $accent;
}

Switch,
.switch {
    color: $primary-accent;
    border-color: $primary-accent;

    &[checked=true] {
        color: $accent;
    }
}

TabView,
.tab-view {
    selected-tab-text-color: $accent;
    android-selected-tab-highlight-color: $accent-light;
}

/* Dividers */

.hr-light {
    border-color: $accent-light;
}

.hr-dark {
    border-color: $accent-dark;
}

