ActivityIndicator,
.activity-indicator {
    @include colorize($color: accent);
}

SegmentedBar,
.segmented-bar {
    @include colorize($selected-background-color: accent);

    .ns-ios & {
        margin: 0 15;
        @include colorize($color: accent);
    }
}

Progress,
.progress {
    @include colorize($color: accent-light);
}

Slider,
.slider {
    @include colorize($color: accent);
}

Switch,
.switch {
    @include colorize(
        $color: primary-accent,
        $border-color: primary-accent
    );

    &[checked=true] {
        @include colorize($color: accent);
    }
}

TabView,
.tab-view {
    @include colorize(
        $selected-tab-text-color: accent,
        $android-selected-tab-highlight-color: accent-light
    );
}

/* Dividers */

.hr-light {
    @include colorize($border-color: accent-light);
}

.hr-dark {
    @include colorize($border-color: accent-dark);
}

