/* Input fields */

Label,
.input,
TextView,
TextField,
PickerField,
DatePickerField,
TimePickerField {
    background-color: transparent;

    &.-rounded,
    &.-border,
    &.input-rounded,
    &.input-border {
        border-color: $accent-light;
    }
}

NTInput,
.input-field {
    .label,
    & > Label {
        color: $primary-accent;
    }
}

/* DateTime Picker */

.date-time-picker-buttons {
    color: $accent;
}

.date-time-picker-spinners {
    color: mix($btn-color-inverse, $accent-dark, 30%);
}
