/* Input fields */

Label,
TextView,
TextField,
PickerField {
    color: $primary-light;
}

DatePicker,
TimePicker {
    background-color: lighten($background, 50%);
}

.input,
TextField,
PickerField,
DatePickerField,
TimePickerField {
    color: $primary-light;
    background-color: transparent;

    &.-rounded,
    &.-border,
    &.input-rounded,
    &.input-border {
        border-color: $accent-light;
    }

    &[isEnabled=false] {
        background-color: lighten($grey, 10%);
    }
}

NTInput,
.input-field {
    .label,
    NTInput > Label {
        color: $grey-background;
    }
}

/* DateTime Picker */

DateTimePickerFields {
    background: $background;
}

.date-time-picker-buttons {
    color: $accent;
}

.date-time-picker-spinners {
    color: mix($btn-color-inverse, $accent-dark, 30%);
}
