ListView,
RadListView {
    NTIcon {
        color: $ab-background;
    }

    .-separator {
        border-bottom-color: $background-accent;
    }

    .list-view__delete {
        background-color: $error;
    }
}

