RadSideDrawer {
    .nt-drawer__content,
    .sidedrawer-left,
    .sidedrawer-center {
        color: $ab-color;
    }

    .sidedrawer-header,
    .nt-drawer__header {
        background: $ab-background-dark;

        Label {
            color: $ab-color;
        }
    }

    .sidedrawer-list-item {
        &.active {
            color: $item-active-color;
            background-color: $item-active-background;

            .sidedrawer-list-item-icon {
                color: $item-active-icon-color;
            }
        }
    }

    & .nt-drawer__content Button:active,
    & > [tkDrawerContent] Button:active {
        color: $ab-color;
        background: $ab-background-dark;
    }
}
