Switch,
.switch {
    color: $primary-light;
    border-color: $primary-light;

    @at-root .-ios & {
        background-color: $background-light;
    }

    &[checked=true] {
        color: $accent;
        border-width: 1;
    }

    &[checked=true][isEnabled=false] {
        background-color: $grey;
        color: $white;
    }

    &[isEnabled=false] {
        background-color: $grey;
        color: $grey;
    }
}
