// Colors
$black: #000 !default;
$white: #fff !default;
$base: $white !default;
$grey: #e0e0e0 !default;
$grey-background: #bababa !default;
$charcoal: #303030 !default;

// accent varieties
$aqua: #00caab !default;
$blue: #3d5afe !default;
$brown: #795548 !default;
$forest: #006968 !default;
$grey-dark: #5c687c !default;
$purple: #8130ff !default;
$lemon: #ffea00 !default;
$lime: #aee406 !default;
$orange: #f57c00 !default;
$ruby: #ff1744 !default;
$sky: #30bcff !default;

$accent: $sky !default;

$error: #d50000 !default;

// Buttons
$btn-color-secondary: #01a0ec !default;
$btn-color-outline-highlighted: #c0ebff !default;
$btn-color-disabled: #a4a4a4 !default;
$btn-font-size: 18 !default;
$btn-radius: 0 !default;
$btn-padding-x: 0 !default;
$btn-padding-y: 0 !default;
$btn-margin-x:	16 !default;
$btn-margin-y:	8 !default;

// Headings
$headings-margin-bottom: 4 !default;
$headings-font-weight: normal !default;

// Options
//
// Quickly modify global styling by enabling or disabling optional features.
$enable-rounded:            false !default;
$enable-shadows:            false !default;
$enable-gradients:          false !default;
$enable-transitions:        false !default;




// Colors
$background: $white !default;
$primary: lighten($black, 13%) !default;
$secondary: lighten($black, 46%) !default;
$accent: $sky !default;
$disabled: lighten($black, 62%) !default;

// ActionBar
$ab-color: $primary !default;
$ab-background: mix($background, $primary, 20%) !default;

$text-color: $primary !default;
$headings-color: $primary !default;

$item-active-color: mix($primary, $background, 40%) !default;
$item-active-icon-color: $item-active-color !default;

$tab-text-color: mix(#999, $accent, 70%) !default;

$accent-dark: darken($accent, 20%) !default;
$accent-light: lighten($accent, 20%) !default;
$primary-accent: mix(transparent, $accent, 60%) !default;
$background-accent: mix(transparent, $accent, 90%) !default;
$background-dark-accent: mix(transparent, $accent, 85%) !default;
$ab-background-dark: darken($ab-background, 5%) !default;

$item-active-background: $accent !default;

$btn-color: $primary !default;
$btn-color-inverse: $background !default;
$btn-color-secondary: darken($btn-color, 10%) !default;
$btn-color-outline-highlighted: lighten($btn-color, 10%) !default;

@import 'mixins/index';

// Core colors
@import 'core/colors';
